/* common styles */

body {

    margin: 0px;

    font-family: 'Roboto', sans-serif;

}

.navigationwrapper {

    height: 190px;

    background-color: #11122B;

    color: #cbcbcb;

    /* flexbox container */

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 60px 100px;

}

/* left column styles */

.navigationwrapper > .leftcolumn {

    display: flex;

    align-items: center;

}

.navigationwrapper > .leftcolumn >.icon {

    margin-right: 15px;

}

.navigationwrapper > .leftcolumn >.icon i {

    font-size: 2em;

}

.navigationwrapper > .leftcolumn > .contacthourswrapper {

    display: grid;

    grid-template-columns: 1fr;

}

.navigationwrapper > .leftcolumn > .contacthourswrapper > .hours {

    font-family: 'Ubuntu Condensed', sans-serif;

}

/* center column styles */

.navigationwrapper > .linkswrapper > .navlink a {

    font-family: 'Ubuntu Condensed', sans-serif;

}

.navigationwrapper > .centercolumn {

    display: grid;

    grid-template-columns: 1fr; 

    grid-gap: 42px; 

    width: 500px;

}

.navigationwrapper > .centercolumn > .bannerimage {

    display: flex;

    justify-content: center;

}

.navigationwrapper > .centercolumn > .bannerimage img {

    width: 215px;

    height: 100%;

}

.linkswrapper {

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.linkswrapper > .navlink {

    width: 70px;

    text-align: center; 

}

.linkswrapper > .navlink a {

    font-family: "ubuntu condensed", sans-serif;

    color: #cbcbcb;

    text-decoration: none;

    transition: 0.5s;
}

.linkswrapper > .navlink a:hover {

    color: #cea135;

    letter-spacing: 2px;

}

/* right column styles */

.navigationwrapper > .rightcolumn {

    display: flex;

    align-items: center;

}

.navigationwrapper > .rightcolumn > .addresswrapper {

    font-family: 'Ubuntu Condensed', sans-serif;

    text-align: right;

}

.navigationwrapper > .rightcolumn > .addresswrapper a {

    color: #858585;

    text-decoration: none;

    font-size: 0.9em;

    transition: 0.5s;

}

.navigationwrapper > .rightcolumn > .addresswrapper a:hover {

    color: #cea135;
    
}

.navigationwrapper > .rightcolumn > .contacticon {

    margin-left: 15px;

    font-size: 2em;

}

.navigationwrapper > .rightcolumn > .contacticon a {

    color: #cbcbcb;

    transition: 0.5s;

}

.navigationwrapper > .rightcolumn > .contacticon a:hover {

    color: #cea135;

}